<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <title><%=pageTitle%></title>
</head>
<body>
    <header>
     <h1>Iwé</h1> 
    </header>
    
    <main class="index">
        <ul>

           <% if(allNotes.length>0){ %>
            <% allNotes.forEach(note => { %>
                <a class="id" href="/iwe/<%=note._id%>">
                <p><%=note.title %></p>
            </a><hr>
           <% })%>
           <% } else{ %>
            <p> There is no note stored </p>
        <% } %>
        
     </ul> <br><br>
    <button><a class="addNote" href="/iwe/addNote"> Add note</a></button>
    </main><br>
 
    <footer>copyright &copy; الأوفوي  2023</footer>
</body>
</html>